.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Roboto';
}
.main-heading {
  font-size: 40px;
  color: #00e7ff;
  font-weight: bold;
}

.currency-details-container {
  border: solid 3px #00e7ff;
  border-radius: 10px;
  width: 70%;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding-left: 70px;
  padding-right: 30px;
  background-color: #092e33;
}
.header-sub-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
.currency-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 90%;
  height: 350px;
  margin-top: 15px;
  margin-bottom: 25px;
}
